#boxisi{
    padding:5%;
}
#judul{
    font-size:280%;
    font-family: 'Times New Rowman';
    letter-spacing: 1px;
}
#isi{
    font-size:125%;
    text-align:justify;
    font-family: 'Times New Rowman';
}
#boxisi img{
    padding-left:10%;
    padding-right:10%;
}
#boxisi2{
    padding:5%;
}