* {box-sizing:border-box;}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

#pengenalan{
font-family: 'Segoe UI';
padding : 7%;
font-size: 50px;
}
#pengenalan p{
  font-size: 20px;
  letter-spacing: 2px;
}

  #macam_layanan{ 
    padding-bottom: 5%;
    font-family: 'Segoe UI';
    text-align: center;
}
#macam_layanan #tulisan{
  padding:3%;
  font-size: 180%;
}
#macam_layanan .container-fluid
{
  font-family:'lucida sans';
  letter-spacing: 1px;
  word-spacing: 1px;
  text-decoration: none;
}

#download{
    padding:10%;
    padding-top:0%;
    padding-left: 15%;
    text-align:center;
}
#download #download-1{
  padding-top: 6%;
}
#download #tulisan{
  font-family: traja;
  font-size: 150%;

}
#download #gambar{
  padding-right: 10%;
}

#telah_diliput #tulisan{
  font-family: 'Segoe UI';
  font-size: 180%;
  text-align: center;
}
#iconmedia{
  padding-top : 5%;
  padding-bottom:5%;
  text-align: center;
}
.hm {
  width:32%;
  display:inline-block;
}
.yap {
  width:33%;
  display:inline-block;
  text-align:center;
  padding-top: 10%;
}

#footer{
    background-image:url('/img/back.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    text-align:center;
    padding:7%;
}

#coba{
  text-align: left;
  text-decoration: none;
  color:black;
  font-size:70%;
}
#coba a{
  height:200%;
}

figure{
  text-align: center;
  text-decoration: none;
  font-size:110%;
}